:root
  --sidebar-background-color: var(--typography-text-color)
  --sidebar-color: color(var(--sidebar-background-color) contrast())
  height: 100%

body
  height: 100%
  margin: 0
  padding: 0
  
#search
  padding-left: 1.25em
  height: 3em

.sidebar, .inner-sidebar
  background: var(--sidebar-background-color)
  color: var(--sidebar-color)
  
  & .vclNavigation .vclNavigationItem
   color: var(--sidebar-color)

.inner-sidebar
  background: color(var(--sidebar-background-color) l(+10))
